

body{
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    color: #4c4d5f;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    color: #4c4d5f;
    font-size: 17px;
    line-height: 20px;
    
}
header{
    padding: 0 2rem;
    background-color: #fff;
    
}
.navbar{
    width: 100%;
    max-width: 1200px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
li{
    list-style: none;
    
}

.button{
    display: flex;
    gap: 20px;
    font-weight: 700;
    
}


.nav-log {
    border: 1px solid #00b289;
    color: #00b289;
    background-color: #fff;
    padding: 12px 27px 9px;
    border-radius: 4px;
}

.nav-start {
    border: 1px solid #00b289;
    color: #fff;
    background-color: #00b289;
    padding: 12px 27px 9px;
    border-radius: 4px;
    
}
.blueshape{
    position: absolute;
    display: block;
    left: 80px;
    top: -88%;
    right: -23%;
    width: 90%;
    height: 130%;
    bottom: auto;
    background-color: #f2faff;
    z-index: -1;
    border-radius: 6.6vw;
    -webkit-transform: rotate(-23deg);
}
.page-wrap{
    padding-top: 110px;
    height: 1300px;
    position: relative;
    
}
.navbar_menu{
    
    display: flex;
    color: #4c4d5f;
    font-weight: 400;
    gap: 40px;
    
    

}
.main_content{
    max-width: 1200px;
    margin: auto;

}
.content_price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    
}


.card_price{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    
}
.card{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 5% 4%;
    background-color: #fff;
    width: 270px;
    height: 764px; 
    border: .3px solid rgba(2,4,69,.15);
    box-shadow: 0 0 68px 0 rgba(2,4,69,.08);
    border-radius: 4px;
    
    

}

.tick{
    margin-bottom: 24px;
    
    display: flex;
    gap: 10px;
}

.button-price{
    margin-top: auto;
    display: flex;
    width: 100%;
    
    font-weight: 700;
    
}

.nav-price-start{
    border: 1px solid #00b289;
    color: #fff;
    background-color: #00b289;
    padding: auto;
    border-radius: 4px;
    width: 100%;
    padding: 22px 25px;
    border-radius: 4px;
    text-align: center;

}
h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.625rem;
}


h4{
    margin: 0;
    font-weight: 400;
    
    font-size: 14px;
}

.price{
    display: flex;
    font-size: 62px;
    margin-top: 10px;
    
    margin-bottom: 20px;
    font-weight: 700;
    align-items: center;
    gap:10px;
}

.currency-symbol{
    position: relative;
    top: -10px;
    font-size: 30px;
    font-weight: 400;
}
.heading-medium{
    position: relative;
    top: 10px;
    font-size: 1.625rem;
    font-weight: 400;
}

.subtitle{
    margin: 0;
    font-size: 17px;
}

img{
    min-width: 14px;
    min-height: 14px;
}